@using FashionShop.Shared;
@model FashionShop.Models.Account

@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-body">
        <!-- Main content -->
        <section class="content my-2">
            <form  @Url.Action("Delete","Account") method="post">
                <div class="page-header">
                    <div class="header-sub-title">
                        <nav class="breadcrumb breadcrumb-dash">
                            <a href="@Url.Action("Index","Dashboard")" class="breadcrumb-item"><i class="fa-solid fa-house mr-1"></i>Trang chủ</a>
                            <a href="@Url.Action("Index","Account")" class="breadcrumb-item">Danh sách </a>
                            <span class="breadcrumb-item active">Xóa</span>
                        </nav>
                    </div>
                </div>
                <!-- Default box -->

                <div class="card-header">
                    <div class="row my-1">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6 text-right">
                            <a class=" btn btn-primary fa fa-solid fa-arrow-left" href="@Url.Action("Index","Account")"></a>
                            <button class="btn btn-danger" type="submit"><i class="far fa-trash-alt mr-1"></i>Xóa</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <input type="hidden" asp-for="Id"/>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="ShortDesc">Tên đăng nhập</label>
                            <div class="form-control">@Html.DisplayFor(model => model.UserName)</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="ShortDesc">Tên người sử dụng</label>
                            <div class="form-control">@Html.DisplayFor(model => model.Name)</div>
                        </div>
                    </div>

                    <div class=" row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="ShortDesc">Mật khẩu</label>
                            <div class="form-control">@Html.DisplayFor(model => model.Password)</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold" for="productCategory">Vai trò</label>
                            <div class="form-control">
                                @if (Model.Role == Const.ADMIN)
                                {
                                    <span class="badge badge-success rounded-pill d-inline">Admin</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning rounded-pill d-inline">User</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

            </form>
        </section>
    </div>
    <!-- /.content -->
</div>
