@using FashionShop.Extension;
@using PagedList.Mvc
@model PagedList.IPagedList<FashionShop.Models.Account>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Tài khoản" ;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index","Dashboard")" class="breadcrumb-item"><i class="fa-solid fa-house mr-1"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tài khoản : trang @CurrentPage</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-5">
                        <div class="input-affix">
                          <form method="get">
                               <i class="prefix-icon anticon anticon-search opacity-04"></i>
                               <input id="searchkey" name="searchkey" type="search" class="form-control" placeholder="Tìm kiếm tài khoản">
                          </form>                          
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-affix">
                            <select class="custom-select" id="txtrole" name="txtrole" style="min-width: 200px;">
                                <option value="" selected disabled>tất cả</option>
                                <option value="1">Admin</option>
                                <option value="0">User</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <a class="btn btn-primary" href="@Url.Action("Create","Account")"><i class="anticon anticon-plus-circle m-r-5"></i>Thêm</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>SDT</th>
                        <th>Tên đăng nhập</th>
                        <th>Vai trò</th>
                        <th>Ngày tạo</th>
                        <th class="text-center" style="min-width: 120px;">Thao tác</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.UserName</td>
                                <td>
                                    @if (@item.Role == FashionShop.Shared.Const.ADMIN.ToString())
                                    {
                                        <span class="badge badge-pill badge-cyan">Admin</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-gold">User</span>
                                    }
                                </td>
                                <td>@(item.CreatedAt?.ToString("dd/MM/yyyy hh:mm tt"))</td>
                                <td class="text-center">
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" href="@Url.Action("Details", new {id = item.Id})"><i class="anticon anticon-info-circle"></i></a>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" href="@Url.Action("Edit", new {id = item.Id})"><i class="anticon anticon-edit"></i></a>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" href="@Url.Action("Delete", new {id = item.Id})"><i class="anticon anticon-delete"></i></a>
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example" class="my-3">
                @Html.PagedListPager(
                    Model,
                    page => Url.Action("Index", new { page })
                )
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
            $(document).ready(function () {
                jQuery("#txtrole").change(function () {
                    var Id = jQuery(this).children(":selected").attr("value");
                        $('#txtrole option')
                        .removeAttr('selected');
                        $("#txtrole > [value=" + Id + "]").attr("selected", "true");
                    $.ajax({
                        url: '@Url.Action("Index")',
                        type: "GET",
                        data: {
                            role: Id
                        },
                        async: true,
                        success: function (results) {
                            if (results.status == "success") {
                                window.location.href = results.redirectUrl;
                            }
                        },
                    });
                });

            });
    </script>
}
