@model FashionShop.Models.Slide

@{
    ViewData["Title"] = "Chỉnh sửa Slide";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-body">
        <form action="@Url.Action("Edit")" method="post" enctype="multipart/form-data">
            <div class="page-header">
                <div class="header-sub-title">
                    <nav class="breadcrumb breadcrumb-dash">
                        <a href="@Url.Action("Index","Dashboard")" class="breadcrumb-item"><i class="fa-solid fa-house mr-1"></i>Trang chủ</a>
                        <a href="@Url.Action("Index","Slide")" class="breadcrumb-item">Slide</a>
                        <span class="breadcrumb-item active">Chỉnh sửa</span>
                    </nav>
                </div>
            </div>
            <!-- Default box -->

            <div class="card-header">
                <div class="row">
                    <div class=" col-md-6">

                    </div>
                    <div class=" col-md-6 text-right">
                        <a class=" btn btn-success fa fa-solid fa-arrow-left" href="@Url.Action("Index","Slide")"></a>
                        <button class="btn btn-primary" type="submit"><i class="fas fa-plus-circle mr-1"></i>Xác nhận</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group col-md-6">
                        <label name="Name" class="control-label">Tên </label>
                        @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên slide", @required = "required" } })
                    </div>
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" for="">Tiêu đề </label>
                        @Html.EditorFor(model => model.Title, "", new { htmlAttributes = new { @class = "form-control", @placeholder = "Tiêu đề", @required = "required" } })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="font-weight-semibold" for="">Nội dung </label>
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "Nội dung" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="font-weight-semibold" for="">Số thứ tự hiển thị </label>
                        @Html.EditorFor(model => model.SeqNum, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số thứ tự" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="font-weight-semibold" for="">Hiện/Ẩn </label>
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="font-weight-semibold" for="productBranch">Ảnh</label>
                        <div class="input-group custom-file-button">
                            <label class="input-group-text" for="inputGroupFile">Chọn ảnh Slide</label>
                            <input type="file" name="fThumb" accept="image/*" class="form-control" id="inputGroupFile" onchange="changePreImage(this)">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <img id="previewImage" class="rounded border-0" width="200" height="100" style="object-fit:cover" src="~/Assets/images/slide/@Model.Image" alt="@Model.Name"  />
                    </div>
                </div>
            </div>
        </form>
        <!-- /.card-body -->
    </div>
    <!-- /.content -->
</div>

@section Scripts{
    <script>
        function changePreImage(input) {
            var preview = document.getElementById('previewImage');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        };
    </script>
}